body{
    background-color: #f5efe1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.d1{
    width: 100%;
    height: 80px;
    background-color: #1BB1A9;
    border: 1px solid #1BB1A9;
    border-top: 3px solid #3e3131;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.d11{
    margin-left: 120px;
    margin-top: 20px;
    width: 120px;
    position:relative ;
    float: left;
    overflow: hidden;
}
.d12,.d13,.d14,.d15,.d16{
    position:relative ;
    float: left;
    overflow: hidden;
    width: 80px;
    height: 50px;
    margin-top: 20px;
}
.d12{
    margin-left: 420px;
}
.d13,.d14,.d15,.d16{
    margin-left: 30px;
}
a:hover{
    color: white;
}
.div1{
    color:greenyellow;
}
.div1:hover{
    color:  #02a79d;

}
.span1{
    font-size: 30px;font-weight: bold;
    color:#ccaab5;
}
.span1:hover{
    color:  #02a79d;
}
.button1{
    background-color:#00a197;
}
.button1:hover{
    background-color: #98c35f;
}
#a1{
    font-size: 20px;
}
.a111{
    padding-left:16px;font-size: 9px;color:#1b9891;
}
.span2{
    font-size: 11px;color: #1b9891
}
.left1{
    margin-left:100px;position: relative;float:left;overflow: hidden;width: 650px;
}
.left2{
    position: relative;float: left;overflow: hidden;width: 650px;
}
.left3{
    position: relative;overflow:hidden;float: left;width: 6px;height: 50px;background-color: #258DCD
}
.left4{
    width:210px;margin-left:8px;position:relative;overflow:hidden;float: left
}
.left5{
    width:100px;text-align:right;position:relative;overflow:hidden;float: left;margin-left: 325px
}
.er1{
    margin-top:50px;position: relative;float: left;overflow: hidden;width: 650px;
}
.er2{
    position: relative;overflow:hidden;float: left;width: 6px;height: 50px;background-color: #258DCD
}
.er3{
    width:210px;margin-left:8px;position:relative;overflow:hidden;float: left
}
.er4{
    width:100px;text-align:right;position:relative;overflow:hidden;float: left;margin-left: 325px
}
.erp1{
    color:#6b5e5b;font-size:13px;text-align: justify;word-spacing: 5px;line-height: 18px
}
.erp2{
    color:#6b5e5b;text-align: justify;word-spacing: 5px;line-height: 18px
}
.erp3{
    color: #8ab259;font-size: 22px;font-weight: bold
}
.erp4{
    color:#6b5e5b;text-align: justify;word-spacing: 5px;line-height: 18px
}
.san1{
    margin-top:50px;position: relative;float: left;overflow: hidden;width: 650px;
}
.san2{
    position: relative;overflow:hidden;float: left;width: 6px;height: 50px;background-color: #258DCD
}
.san3{
    width:210px;margin-left:8px;position:relative;overflow:hidden;float: left
}
.san4{
    text-align:right;width:100px;position:relative;overflow:hidden;float: left;margin-left: 325px
}
.sanp1{
    color:#6b5e5b;text-align: justify;word-spacing: 5px;line-height: 18px
}
.sanp2{
    line-height:23px;font-size:14px;text-align:justify;word-spacing: -1px;color: #675a58
}